body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #46526a;
}

.container {
    display: flex;
    height: 100%;
}

/* left-side start */

.left-side {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

.box {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.list-search {
    background-color: #46526a;
}

.list-search img {
    width: 30px;
}

.account {
    display: flex;
    align-self: center;
}


.account a {
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}

.account a img {
    width: 20px;
}

.lisc-account-button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;

}

.lisc-account-button img {
    width: 20px;
}


.list li {
    list-style: none;
    width: 100%;
}

.list li a {
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.list-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-text p {
    color: black;
}

.list li a img {
    width: 30px;
}

.list-text-p {
    color: #46526a;
}

.create-list a {
    display: flex;
    width: 100%;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    color: rgb(76, 185, 250);
}

.create-list a img {
    width: 30px;
}

.box:last-child {
    margin-top: auto;
}

/* left-side End */

/* middle start */

.todo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
}

.todo-top {
    background-color: #53617f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-top div {
    display: flex;
    padding: 10px;
}

.todo-top p {
    padding-left: 30px;
    color: white;
    font-size: 25px;
}

.todo-top-imgs {
    gap: 30px;
}

.todo-top-imgs img {
    width: 30px;
}

.todo-main {
    width: 100%;
    padding: 20px;
}

.add-todo {
    padding: 10px;
    background-color: #53617f;
}

.add-todo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.add-todo img {
    width: 30px;
}

.todo-input {
    width: 100%;
    background-color: #53617f;
    box-shadow: none;
    border: none;
    padding: 0;
    color: white;
    height: 30px;
}



.todoList {
    padding: 0;
    list-style: none;
    text-align: left;
    align-items: center;
    gap: 15px;
    width: 100%;
    color: black;
    height: 60px;
    margin-top: 22px;
}

.todoList li {
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todoList input {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.todoList input[type="checkbox"]:checked+p {
    text-decoration: line-through;
}

.todoList span {
    margin-right: 10px;
    margin-left: auto;
    font-size: 30px;
}

/* middle end */

/* right-side start  */

.todo-details {
    width: 30%;
    background-color: white;
    height: 100vh;
}

.todo-details-top {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #a6a9ad;
}

.todo-details-top input {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}


.todo-details-top span {
    margin-left: auto;
    font-size: 30px;
    padding: 10px;
}

/* right-side end */